
body,html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    height: 100%;
}


#topo_tela{
    background-color: #d4d0cc;
    float: right;
    width: 100%;
    position: fixed;
}
/*
#topo_tela .logo img{
    float: left;
    width: 210px;
    height: 150px;
}
*/

#menu_principal{
    float: right;
}

#menu_principal ul{
    list-style: none;
    margin-top: -5px;
}
#menu_principal ul li{
    display: flex;
    float: left;    
}
a{
    text-decoration: none;
    color: #5e5f4b;
}
#menu_principal ul a{
    color: #5e5f4b;
    padding: 1em;
    background-color: #d4d0cc;
}
#menu_principal ul a:hover{
        background: #2885bf;
        color: #fff;
}

#home #menu_principal li a.home,
#pontos_historicos li a.pontos_historicos,
#praias li a.praias{
    background: #2885bf;
    color: #fff;
}

/*Imagem grande*/
.foto1,.foto2{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
#home div.foto1{
    background-image: url(../imagens/natal.jpg);
}
#home div.foto2{
    background-image: url(../imagens/pontos_natal.jpg);
    opacity: 0.7;
}


.fundo_texto_imagem{
    background: #fff;
}

.conteudo_texto_imagem{
    width: 70%;
    margin: 0 auto;
    display: flex;
    color: black;
    opacity: 0.7;
}

.conteudo_direita{
    margin-left: 20px;
    padding: 10px;
}
.conteudo_esquerda{
    padding: 10px;
}




#conteiner_rodape{
    background: #111;

}

#conteudo_rodape{
    clear: both;
    color: #fff;
    margin: 0 auto;
    width: 70%;
    padding: 10px 0 10px 0;
    
}

