.fundo_artigo{
    border: 5px solid #fff; 
    width: 80%;  
    margin: 0 auto;
} 
.conteudo_artigo{
    margin-top: 100px;
    padding: 20px;
    background-color: bisque;
    color: rgba(0, 0, 0, 0.7)
}
.conteudo_artigo h3{
    font-size: 3em;
}
.conteudo_artigo p{
    text-align: justify;
    text-indent: 2.5em;
    font-size: 1.5em;
} 