body{
    background-color: antiquewhite;
}


.carrossel{
    margin: 0 auto;
    width: 100%;
    padding: 0;
    height: auto;
    overflow: hidden;
}
.conteudo_carrossel{
    width: 400%;
    display: flex;
    height: auto;
}

.conteudo_carrossel input, .img_mobile{
    display: none;
}

.caixa-carrossel{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.caixa-carrossel img{
    width: 100%;
}
.nav-manual, .nav-auto{
    display: flex;
    position: absolute;
    width:100%;
    margin-top: 23%;
    justify-content: center;
}

.nav-manual .manual_but, .nav-auto div{
    border: 1px solid rgb(81, 154, 200);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;

}
.nav-manual .manual_but:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual_but:hover{
    background-color: rgb(81, 154, 200) ;
}


#botao1:checked ~ .nav-auto .auto_but1{
    background-color: rgb(81, 154, 200);
}
#botao2:checked ~ .nav-auto .auto_but2{
    background-color: rgb(81, 154, 200);
}
#botao3:checked ~ .nav-auto .auto_but3{
    background-color: rgb(81, 154, 200);
}

#botao1:checked ~ .primeira{
    margin-left: 0%;
}
#botao2:checked ~ .primeira{
    margin-left: -25%;
}
#botao3:checked ~ .primeira{
    margin-left: -50%;
}

@media  screen and (max-width: 990px) {
    .img_desktop{
        display: none;
    }
    .img_mobile{
        display: block;
    }
    .nav-auto, .nav-manual{
        margin-top: 48%;
    }
    
}

.fundo_artigo{
    width: 80%;  
    margin: 0 auto;
    margin-bottom: 5%;
} 
.conteudo_artigo{
    margin-top: 100px;
    padding: 20px;
    background-color: rgb(225, 237, 242);
    color: rgba(0, 0, 0, 0.7)
}
.conteudo_artigo h3{
    font-size: 3em;
}
.conteudo_artigo p{
    text-align: justify;
    text-indent: 2.5em;
    font-size: 1.5em;
} 