
body,html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    height: 100%;
}


#conteiner_menu_principal{
    background-color:rgb(81, 154, 200);
    float: right;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

#menu_principal{
    float: right;
}

#menu_principal ul{
    list-style: none;
    margin-top: -5px;
}
#menu_principal ul li{
    display: flex;
    float: left;    
}

#menu_principal ul a{
    color: #fff;
    padding: 1em;
    background-color:rgb(81, 154, 200);
    text-decoration: none;
}
#menu_principal ul a:hover{
        background: rgb(40, 133, 191);
        color: #fff;
}

#home #menu_principal li a.home,
#pontos_historicos li a.pontos_historicos,
#praias li a.praias{
    background: rgb(40, 133, 191);
    color: #fff;
}

.titulo_foto{
    position: relative;
    opacity: 1;
    top: 45%;
    text-align: center;
    left: 0px;
}
.titulo_foto span{
    background-color:rgb(9, 6, 6,0.5);
    padding: 10px;
    color: #fff;
    font-size: 2em;

}


/*Imagem grande*/
.foto1,.foto2{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
#home div.foto1{
    background-image: url(../imagens/natal.jpg);
}
#home div.foto2{
    background-image: url(../imagens/pontos_natal.jpg);
    opacity: 0.7;
}


.fundo_texto{
    background: #faf0e6;
}

div #destaques{
    width: 100%;
    display: flex;
    margin: 0 auto;
}

/*Mini destaque com foto e link para a matéria*/

.mini_destaque{
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding:2%;
    background-color: bisque;
    border: rgb(230, 200, 165) 1px solid;
}

.mini_destaque img{
    width: 50%;
    float: left;
    opacity: 0.7;
}

.mini_destaque p{
    font-size: 0.8em;
}
.mini_destaque h3{
    font-size: 0.8em;
    margin-top: 0;
}
.conteudo_mini_destaque {
    float: right; 
    width: 45%;
    color: #707070;
}

.mini_destaque a{
    color: rgb(164, 133, 94);
}
.conteudo_texto{
    width: 70%;
    margin: 0 auto;
    opacity: 1;
    color: #00bcd4;
    padding: 5%;
    font-family: roboto, sans-serif;
}

.conteudo_texto h1{
    font-size: 2em;
    text-align: center;
}
.conteudo_texto p{
    text-align: justify;
}






#conteiner_rodape{
    background:rgb(81, 154, 200);
    color: #fff;
    width: 100%;
    overflow: hidden;
}

#conteudo_rodape{
    width: 70%;
    margin: 0 auto;
}
#conteudo_rodape div.conteudo_direita{
    float: right;
    line-height: 55px;
}

#conteudo_rodape div.conteudo_esquerda{
    float: left;
}
